anaconda/
trash/
lkl_fit/
.ipynb_checkpoints/
data_analysis.ipynb
ideal_significance1D.ipynb
.bash_profile
NPL_CODE/
DRIFT_TIME/.ipynb_checkpoints/
DRIFT_TIME/__pycache__
FETCH_DATA/.ipynb_checkpoints/
FETCH_DATA/__pycache__
NPL_1D/test*/
NPL_1D/MODEL_SELECTION/E*/
NPL_1D/MODEL_EVALUATION/E*/
NPL_1D/MODEL_PREDICTION/E*/
OCCUPANCY/.ipynb_checkpoints/
OCCUPANCY/__pycache__/
NPL_1D/__pycache__/
NPL_1D/.ipynb_checkpoints/
DRIFT_TIME/E*/
DRIFT_TIME/condor*/
NPL_1D/condor*/
NPL_1D/MODEL_SELECTION/__pycache__/
NPL_1D/MODEL_EVALUATION/__pycache__/
NPL_1D/MODEL_PREDICTION/__pycache__/
THESIS/
README.md
DRIFT_TIME/model_*/
FETCH_DATA/condor*/
SLIDES_CMS/
DATA/
DRIFT_TIME/thesis*/
GAIA/
NPL_1D/
FALKON/__pycache__/
PLOTS/NPL_1D/
